* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
}

.contenedor-conversor {
    background: white;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #111;
    text-align: center;
}

.subtitulo {
    font-size: 13px;
    color: #888;
    margin-bottom: 25px;
    text-align: center;
}

.grupo-formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

input[readonly] {
    background-color: #f1f1f1;
    color: #000000;
    cursor: not-allowed;
}

.boton-convertir {
    background-color: #d664ed;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

.boton-convertir:hover {
    background-color: #2980b9;
}

.error-mensaje {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 5px;
    display: none;
}